:root {
  --primary-color: #155A9C;
  --secondary-color: #0F477D;
  --accent-color: #2D78BE;
  --white-color: #FFFFFF;
  --light-background: #F5F7FA;
  --text-color: #172033;
  --muted-text: #5B6575;
  /* --gold-accent: #D4AF37; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding: 1rem;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white-color);
}
header .menu{
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white-color);
  cursor: pointer;
}
main{
  flex: 1;
}
.hero{
  background-image: url("./assets/school-hero.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 1.5rem 3rem;
  position: relative;
}
.hero::before{
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.hero .heroContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 12;
}
.heroHeader h1, .heroContent p{
  text-align: center;
  color: var(--white-color);
}
.heroHeader p{
  font-size: 2rem;
  font-weight: bold;
}
.heroHeader > p span{
  color: var(--primary-color);
}
.heroContent p{
  margin-bottom: 1.5rem;
}
.cta{
  width: 100%;
}
.cta .register, .cta .login{
  display: block;
  margin-bottom: 1rem;
  padding: 0.7rem 1rem;
  text-decoration: none;
  border-radius: 0.7rem;
  border: none;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
.cta .register{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.cta .login{
  background-color: var(--light-background);
  color: var(--primary-color);
}

@media (min-width: 760px){
  header .menu{
    display: none;
  }
  .hero{
    align-items: center;
    justify-content: flex-start;
    padding: 8rem 5% 4rem;
  }
  .hero .heroContent{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 55%;
    max-width: 650px;
  }

  .heroHeader h1,
  .heroHeader p {
  text-align: left;
  font-size: 2.8rem;
  line-height: 1.2;
}

  .heroContent p{
    text-align: left;
    max-width: 550px;
    line-height: 1.5;
  }
  .heroContent > p{
    font-size: 1.3rem;

  }
  .cta{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .cta .register, .cta .login{
    white-space: nowrap;
  }
}